* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.SpeakerContainer {
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.SpeakerContainer > select {
  padding: 0.2rem 2rem;
}

.dataShow {
  white-space: pre-wrap;
}
